TELEGRAM_BOT_TOKEN=
DATABASE_URL=
OPENROUTER_API_KEY_1=
OPENROUTER_API_KEY_2=
OPENROUTER_API_KEY_3=
OPENROUTER_MODEL=meta-llama/llama-3.2-3b-instruct:free
OPENROUTER_MODEL_1=meta-llama/llama-3.2-3b-instruct:free
OPENROUTER_MODEL_2=
OPENROUTER_MODEL_3=
OPENROUTER_VISION_MODEL_1=meta-llama/llama-3.2-11b-vision-instruct
OPENROUTER_VISION_MODEL_2=
