TELEGRAM_BOT_TOKEN=
DATABASE_URL=
MAIN_GROUP_ID=
OWNER_ID=
OPENROUTER_API_KEY_1=
OPENROUTER_API_KEY_2=
OPENROUTER_API_KEY_3=
OPENROUTER_API_KEY_4=
OPENROUTER_API_KEY_5=
CHAT_MODEL=meta-llama/llama-3.3-70b-instruct:free
FALLBACK_MODEL=google/gemma-3-27b-it:free
VISION_MODEL=nex-agi/nex-n2-pro:free
REASONING_MODEL=gemini-1.5-flash
IMAGE_MODEL_1=sourceful/riverflow-v2.5-pro:free
IMAGE_MODEL_2=sourceful/riverflow-v2.5-fast:free
